@page "/"

<div>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab, adipisci nesciunt sunt omnis, praesentium natus, excepturi animi et quas at temporibus reiciendis fugiat cumque quod. Sapiente tenetur accusantium corporis tempora possimus animi ipsum, recusandae quisquam cum iusto officia beatae nemo ab adipisci error saepe aspernatur, deserunt molestiae ullam neque doloribus!</div>

<div>
    <a href="/test">Test Page</a>
</div>