@inherits LayoutComponentBase
@using Cstewart.Common.Components
<Nav />
<div class="page">
    <div class="sidebar">
        <PtaNav />
    </div>
    <main class="container">
        @Body
    </main>
</div>
